services:
  - type: web
    name: facilitaki
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true